{% extends "base.html" %}

{% block content %}
    <p class=title>Hi, Welcome to Appointment Spotter!</p>
    <p>Input your desired city and state (i.e. San Diego, CA).</p>
    <br>
    <form method=post>
        <input type=text name=city placeholder="ex: Los Angeles">
        <select name="state" id="state">
            <option value=""></option>
            {% for i in range(50) %}
            <option value={{stateList[i]}}>{{stateList[i]}}</option>
            {% endfor %}
        </select>
        <input type=submit value=Submit>
    </form>
{% endblock %}