{% extends "base.html" %}

{% block content %}
    <h1>Hi, Welcome to Appointment Spotter!</h1>
    <div><p>Input your desired city and state (i.e. San Diego, CA).</p></div>
    <form method=post>
        <input type=text name =city>
        <select name="state" id="state">
            {% for i in range(50) %}
            <option value={{stateList[i]}} selected>{{stateList[i]}}</option>
            {% endfor %}
        </select>
        <input type=submit value=Submit>
    </form>
{% endblock %}