<html>
    <head>
      <link rel="icon" href="{{ url_for('static',filename='images/vaccine.png') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
      {% if title == 'Home' %}
      <title>{{ title }} - Appointment Spotter</title>
      {% else %}
      <title>Welcome to Appointment Spotter</title>
      {% endif %}
    </head>
    <body>
          <ul>
            {% if title == 'Home' %}
            <li><a href="/index" class="active">Appointment Spotter</a></li>
            <li><a href="/appointments">Search By City</a></li>
            <li><a href="/appointments_zip">Search By Zip Code</a></li>
            {% elif title == 'by city' %}
            <li><a href="/index">Appointment Spotter</a></li>
            <li><a href="/appointments" class="active">Search By City</a></li>
            <li><a href="/appointments_zip">Search By Zip Code</a></li>
            {% else %}
            <li><a href="/index">Appointment Spotter</a></li>
            <li><a href="/appointments">Search By City</a></li>
            <li><a href="/appointments_zip" class="active">Search By Zip Code</a></li>
            {% endif %}
          </ul>
        {% block content %}{% endblock %}
    </body>
</html>